#profile {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 5vh;
}

#details {
    background-color: #c1c0b9;
    text-align: left;
    border: solid black 0.2vh;
    border-radius: 1vh;
    min-height: 15vh;
    width: 30vw;
    min-width: 40vh;
    margin: 0 0 2vh 2vh;
}

#details-header {
    font-size: 5vh;
    margin: 1vh 0 0 1vw;
}

.details {
    background-color: #c1c0b9;
    border: solid black 0.2vh;
    border-radius: 1vh;
    margin: 0 2vh 2vh;
}

.details-text {
    font-size: 3vh;
    margin-left: 1.5vw;
}


.show-button {
    background-color: #f0d43a;
    text-align: center;
    font-size: 3vh;
    border: solid #535a3b;
    border-radius: 0.35vh;
    height: 5vh;
    width: 15vw;
    min-width: 25vh;
    margin: 2vh 0 2vh;
    transition: 1s;
}

.show-button:hover {
    background-color: #ffe79a;
    transition: 1s;
    box-shadow: 5px 5px 10px black;
}


.edit-button{
    height: 5vh;
    width: 8vw;
    background-color: #a2c11c;
    padding: 0.25rem;
    text-align: center;
    border: solid black;
    border-radius: 5px;
    margin: 5px;
    transition: 1s;
}

.edit-button:hover {
    background-color: #cbf078;
    transition: 1s;
    box-shadow: 5px 5px 10px black;
}

.delete-button {
    height: 5vh;
    width: 8vw;
    margin: 5px;
    padding: 0.25rem;
    border: solid black 2px;
    border-radius: 4px;
    background-color: #d63447;
    transition: 1s;
}

.delete-button:hover {
    background-color: #fb7777;
    transition: 1s;
    box-shadow: 5px 5px 10px black;
}