#profile {
    background-color: gray;
    padding-top: 5vh;
}

#details {
    text-align: left;
    background-color: white;
    border: solid black 0.2vh;
    border-radius: 1vh;
    height: 15vh;
    width: 30vw;
    min-width: 40vh;
    margin-bottom: 2vh;
}

#details-header {
    font-size: 3vh;
    margin-left: 1vw;
    margin-top: 1vh;
}

#details-text {
    font-size: 1.5vh;
    margin-left: 1.5vw;
}

#comments {
    border-top: solid black 0.2vh;
    width: 100vw;
}

.show-button {
    text-align: center;
    font-size: 3vh;
    background-color: lightgray;
    border: solid black;
    border-radius: 0.35vh;
    height: 5vh;
    width: 15vw;
    min-width: 25vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.restaurants {
    border-top: solid black 2px;
    background-color: red;
}

