.review-item {
    border: solid black 2px;
    border-radius: 8px;
    width: 80vw;
    margin: 5px 10vw;
}

.delete-review-button {
    border: solid black 2px;
    border-radius: 4px;
    background-color: red;
}